/*

	Theme Name: Pixicon

	Author: Designstub

	Author URI: www.designstub.com

	License: GNU General Public License version 3.0

	License URI:

	Version: 1.0

	

	1. Body style

	2. Main

	3.

	4. Header

		1. Hgroup

			1. Logo

			2. Nave

			3. Socil Icon

		2. Footer

	5. Countdown

	6. Page Title

	7. Introduction

	8. Subscribe

	9. Contact

*/

@import url(https://fonts.googleapis.com/css?family=Oranienbaum);

html {

	-ms-text-size-adjust: 100%;

	-webkit-text-size-adjust: 100%;

}

*, *:before, *:after {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

input, textarea {

	-webkit-appearance: none;

	-webkit-border-radius: 0;

}

button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {

	-webkit-appearance: button;

	cursor: pointer;

 *overflow:visible;

}

body, img {

	transition: all .2s linear;

	-o-transition: all .2s linear;

	-moz-transition: all .2s linear;

	-webkit-transition: all .2s linear;

}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, main {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	margin: 0;

	padding: 0;

	vertical-align: baseline;

	border: 0;

	outline: 0;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, main {

	display: block

}

audio, canvas, video {

	display: inline-block;

 *display:inline;

 *zoom:1

}

blockquote:before, blockquote:after, q:before, q:after {

	content: '';

	content: none;

}

.clear {

	clear: both;

	line-height: 0;

	height: 0;

}

a {

	text-decoration: none;

	outline: none;

	color: #010101;

	transition-delay: 0s;

	transition-duration: 0.6s;

	transition-property: all;

	transition-timing-function: ease;

}

a:focus, img:focus, button:focus, .btn:focus {

	outline: none;

}



::-moz-selection {

 background-color:#e84d49;

 color:#fff;

 text-shadow:none;

}

::selection {

	background-color: #e84d49;

	color: #fff;

	text-shadow: none;

}

@font-face {

	font-family: 'Roboto', sans-serif;

	font-family: 'Roboto', sans-serif;

}

/*===== Main ===*/

main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{ background-image:url(../images/bg-image.jpg); background-size:cover; background-position:50% 0; background-repeat:no-repeat; width:100%; height:100%; position:fixed; width:100%; height:100%}

main[role="main-wrapper-iamge"] > .over-bg-color{background-color:rgba(255, 255, 255, 0.85)); background-image:none; padding:0}

/*===== Header ===*/

header[role="header"]{ position: fixed; bottom:0; left:0; right:0; width:100%; padding:0 5%; z-index:6}

header[role="header"] > hgroup{background-color:rgba(255,255,255,0.7); overflow:hidden; position:relative }

header[role="header"] > hgroup > h1{ padding:0; margin:0; display:inline-block; position:relative; z-index:5}

header[role="header"] > hgroup > h1 > a{ background-color:#353535; text-transform:uppercase; font-family: 'Roboto', sans-serif;text-align:center; font-size:24px; color:#FFF ;display:inline-block; width:157px; font-weight:500; letter-spacing:5px;  }

header[role="header"] > hgroup > h1 > a:hover{ text-decoration:none}

/*===== Nav ===*/

#menu-button{ display:none}

header[role="header"] > hgroup nav{ float:none; clear:both; text-align:center; display:inline-block; position:absolute; left:0; right:0}

header[role="header"] > hgroup nav ul{ padding:0; margin:0; list-style:none; text-align:center; border:none}

header[role="header"] > hgroup nav ul > li{ float:none; display:inline-block; font-size:12px; text-transform:uppercase; letter-spacing:2px; font-weight:400; margin:0 18.5px}

header[role="header"] > hgroup nav ul > li > a{border-radius:0;border:none; padding:0; line-height:52px; display:block;color:#353535}

header[role="header"] > hgroup nav ul > li.active a,header[role="header"] > hgroup nav ul > li a:hover{ background-color: inherit; border:none; color:#e84d49}

header[role="header"] > hgroup nav .nav-tabs>li.active>a, header[role="header"] > hgroup nav .nav-tabs>li.active>a:focus, header[role="header"] > hgroup nav .nav-tabs>li.active>a:hover{ background-color: inherit; border:none;color:#e84d49}

/*===== Socil-Icons ===*/

header[role="header"] > hgroup .mobile-social{ display:none} 

header[role="header"] > hgroup ul[role="socil-icons"]{ list-style:none; padding:0; margin:0; text-align:right; float:right; position:relative; z-index:5}

header[role="header"] > hgroup ul[role="socil-icons"].mobile-social{ display:none}

header[role="header"] > hgroup ul[role="socil-icons"] li{ display:inline-block; margin-right:21px}

header[role="header"] > hgroup ul[role="socil-icons"] li > a{ display:block; line-height:52px; font-size:13px; color:#353535}

header[role="header"] > hgroup ul[role="socil-icons"] li a:hover{ color:#e84d49}

/*===== Footer ===*/

header[role="header"] footer{ text-align:right}

header[role="header"] footer > p,footer.mobile p{ font-size:12px; line-height:50px; color:#353535; font-weight:400}

header[role="header"] footer > p > i,footer.mobile p i{ color:#e84d49; display:inline-block; padding:0 5px}

footer.mobile{ display:none}

/*===== Countdown ===*/

article[role="countdown"].countdown-pan{ padding-top:14.5%; padding-bottom: 14.5%;}

article[role="countdown"].countdown-pan h2{font-family: 'Roboto', sans-serif; padding:0; margin:0; font-size:24px; line-height:26px; text-transform:uppercase; font-weight:400; letter-spacing:3px}

article[role="countdown"].countdown-pan h2 > span{ font-size:72px; line-height:72px; position:relative; letter-spacing:inherit; display:inline-block}

article[role="countdown"].countdown-pan h2 > span:after{ content:""; display:block; width:98px; height:3px; position:absolute; left:0; right:0; bottom:-5px; margin:0 auto; background-color:#e84d49}

article[role="countdown"].countdown-pan > p{ font-size: 28px; text-transform:uppercase; font-weight:700; letter-spacing:3px; margin:0; padding:0; padding-top:29px}

/*===== Page-title ===*/

article header.page-title h2{ text-align:center;font-family: 'Roboto', sans-serif; text-transform:uppercase; font-size:24px; line-height:26px; color:#353535; font-weight:400; letter-spacing:3px; position:relative; margin-bottom:36px; padding:0; margin-top:0}

article header.page-title h2:after{ content:""; display:block; width:98px; height:3px; position:absolute; left:0; right:0; bottom:-12px; margin:0 auto; background-color:#e84d49}

/*===== Introduction ===*/

article[role="introduction"].introduction-pan{ padding-top:8.6%}

article[role="introduction"].introduction-pan p{ letter-spacing:1px; line-height:28px; font-weight:600}

article[role="introduction"].introduction-pan ul{ margin:0; padding:0; text-align:center; padding-top:50px;}

article[role="introduction"].introduction-pan ul > li{ display:inline-block; margin:0 25px}

article[role="introduction"].introduction-pan ul > li,article[role="introduction"].introduction-pan ul > li > i,article[role="introduction"].introduction-pan ul > li > h6,article[role="subscribe"].subscribe-pan form label,article[role="subscribe"].subscribe-pan form label i{transition-delay: 0s;transition-duration: 0.6s;transition-property: all;transition-timing-function: ease;}

article[role="introduction"].introduction-pan ul > li > i{ font-size:26px; padding-bottom:18px}

article[role="introduction"].introduction-pan ul > li > h6{ font-weight:700; font-size:12px; line-height:13px; text-transform:uppercase; letter-spacing:2px}

article[role="introduction"].introduction-pan ul > li > p{ font-size:12px; line-height:18px; letter-spacing:inherit; padding-top:5px}

article[role="introduction"].introduction-pan ul > li:hover i{ color:#e84d49}

/*===== Subscribe ===*/

article[role="subscribe"].subscribe-pan{ padding-top:22.6%}

article[role="subscribe"].subscribe-pan form{width:429px; margin:0 auto; display:block; overflow:hidden; padding-top:5px; padding-bottom:10px}

article[role="subscribe"].subscribe-pan form input[type="email"]{ display:block; width:369px; height:50px; outline:none; padding:0 10px; border:1px solid #353535; background-color: inherit; font-size:15px; line-height:16px; color:#353535; font-weight:300; float:left}

article[role="subscribe"].subscribe-pan form label{ float:right; width:60px; height:50px; position:relative}

article[role="subscribe"].subscribe-pan form label input{ font-size:0; display:block; border:none; outline:none; cursor:pointer;width:60px; height:50px; background-color:#35373e}

article[role="subscribe"].subscribe-pan form label i { position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; font-size:24px; color:#babbbd; cursor:pointer; line-height:50px}

article[role="subscribe"].subscribe-pan form label:hover input{ background-color:#e84d49}

article[role="subscribe"].subscribe-pan form label:hover i{ color:#FFF}

article[role="subscribe"].subscribe-pan form ::-webkit-input-placeholder { color:#353535; }

article[role="subscribe"].subscribe-pan form ::-moz-placeholder { color:#353535; } /* firefox 19+ */

article[role="subscribe"].subscribe-pan form :-ms-input-placeholder { color:#353535; } /* ie */

article[role="subscribe"].subscribe-pan form input:-moz-placeholder { color:#353535; }

article[role="subscribe"].subscribe-pan > p{ font-size:13px; letter-spacing:1px; font-weight:300}

.error_message{ color:#e84d49}

#success_page h3,#success_page p{color:#60ca6f }

/*===== Contact ===*/

article[role="contact"].contact-pan{ padding-top:8.6%}

article[role="contact"].contact-pan h3{ font-size:30px; line-height:32px; font-weight:700}

article[role="contact"].contact-pan h3 > a{ color:#353535; text-decoration:none}

article[role="contact"].contact-pan ul{ text-align:center; list-style:none; padding:0; margin:0; padding-top:8px}

article[role="contact"].contact-pan ul > li{ display:inline-block; font-size:19px; line-height:20px; margin:0 4px}

article[role="contact"].contact-pan ul > li i{ padding-right:3px}

article[role="contact"].contact-pan ul > li > a{ color:#353535;text-decoration:none}

article[role="contact"].contact-pan a:hover{ color:#e84d49}


.logo{
    margin: 0 auto;
    text-align: center;
    width: 310px;
    margin-top: 30px;
}
.logo img{
    max-width: 100%;
}
